<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cgnetswara.mobilesatyagraha">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="org.cgnetswara.mobilesatyagraha.ChatApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/logo_new_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_new_1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActionPage" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProblemListView" />
        <activity android:name=".ProblemView" />
        <activity android:name=".AdoptedProblemView" />
        <activity android:name=".SearchPage" />
        <activity android:name=".SearchProblemListView" />
        <activity android:name=".ChatPage"/>

    </application>

</manifest>